div.Login {
  color: #000;
  margin-left: 0;
  height: 100vh;
  background: none;
}
div.Login .area {
  background: #2b2b2b;
  background: linear-gradient(270deg, #2c2c2c, #202020);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -500;
}
div.Login .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.Login .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-animation: animate 25s linear infinite;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
div.Login .circles li:first-child {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
div.Login .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}
div.Login .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
div.Login .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}
div.Login .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
div.Login .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
div.Login .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
div.Login .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
}
div.Login .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
}
div.Login .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  to {
    -webkit-transform: translateY(-1000px) rotate(2turn);
    transform: translateY(-1000px) rotate(2turn);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  to {
    -webkit-transform: translateY(-1000px) rotate(2turn);
    transform: translateY(-1000px) rotate(2turn);
    opacity: 0;
    border-radius: 50%;
  }
}
div.loginContainer {
  background: #fff;
}
div.loginContainer div.Logo {
  text-align: center;
  position: relative;
  margin: 0 auto;
}
div.loginContainer img.logo {
  height: 50%;
  width: 50%;
}
@media (max-width: 991.98px) {
  div.Login {
    background: #fff;
  }
}
@media (min-width: 992px) {
  div.Login {
    padding-top: 15vh;
  }
  div.loginContainer {
    width: 30vw;
    min-height: 50vh;
    margin-left: 5vw;
    padding: 35px 35px 60px;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px #666;
  }
}
nav.menubar {
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  background: #8a8484;
  color: #fff;
}
nav.menubar div.header {
  width: 200px;
  overflow: hidden;
  /*height: 75px;*/
  padding: 10px;
  margin-top: 15px;
  transition: height 0.5s ease-in-out;
  transition: padding 0.25s ease-in-out;
  transition: margin-top 0.25s ease-in-out;
}
nav.menubar div.header * {
  text-align: center;
  line-height: 55px;
}
nav.menubar ul {
  padding: 0;
  overflow: hidden;
}
nav.menubar ul p {
  text-align: center;
  color: hsla(0, 0%, 100%, 0.2);
}
nav.menubar ul li {
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s ease-out;
  text-decoration: none;
  display: block;
}
nav.menubar ul li div.btn-ico {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  font-size: 16.66667px;
  line-height: 50px;
  text-align: center;
}
nav.menubar ul li div.btn-ico button {
  border-radius: 0;
  width: 100%;
  height: 100%;
}
nav.menubar ul li .link {
  position: absolute;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  z-index: 0;
}
nav.menubar ul li .link-ico-right + div.btn-ico {
  left: unset;
  right: 0;
}
nav.menubar ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav.menubar ul:first-child {
  margin-top: 0;
}
.menubar.mini-bar div.header {
  height: 0;
  margin-top: 0;
  padding: 0;
}
.menubar.mini-bar ul {
  padding: 0;
  margin-top: 0;
  overflow: hidden;
}
.menubar.mini-bar ul li {
  width: 50px;
  height: 50px;
}
.menubar.mini-bar ul li .link {
  text-indent: -9999px;
  white-space: nowrap;
  z-index: 1;
}
.menubar.mini-bar ul li .link-ico-right + div.btn-ico {
  z-index: 0;
}
@media (min-width: 992px) {
  nav.menubar {
    width: 200px;
    height: 100vh;
    box-shadow: inset -19px 0 30px -29px #000;
  }
  nav.menubar ul {
    margin-top: 15px;
  }
  nav.menubar ul li {
    width: 200px;
  }
  nav.menubar ul li .link-ico-left {
    padding-left: 65px;
  }
  nav.menubar ul li .link-ico-right {
    padding-right: 65px;
  }
  nav.menubar ul.menu-bot {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
  }
  .menubar.mini-bar {
    width: 50px;
  }
  .menubar.mini-bar div.header {
    height: 0;
    margin-top: 0;
    padding: 0;
  }
  .menubar.mini-bar ul {
    padding: 0;
    margin-top: 0;
    overflow: hidden;
  }
  .menubar.mini-bar ul li {
    width: 50px;
    height: 50px;
  }
  .menubar.mini-bar ul li .link {
    text-indent: -9999px;
    white-space: nowrap;
    z-index: 1;
  }
  .menubar.mini-bar ul li .link-ico-right + div.btn-ico {
    z-index: 0;
  }
  .menubar.mini-bar .hide-on-mini {
    display: none;
  }
  .menubar.mini-bar + div.App {
    margin-left: 50px;
  }
}
@media (max-width: 991.98px) {
  .menubar {
    width: 100vw;
    height: 50px;
  }
  .menubar div.header {
    display: none;
  }
  .menubar ul {
    display: inline-block;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
  }
  .menubar ul li {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
  }
  .menubar ul li .link {
    text-indent: -9999px;
    white-space: nowrap;
    z-index: 1;
  }
  .menubar ul li .link-ico-left {
    padding-left: unset;
  }
  .menubar ul li .link-ico-right {
    padding-right: unset;
  }
  .menubar ul li .link-ico-right + div.btn-ico {
    z-index: 0;
  }
  .menubar ul.menu-bot {
    float: right;
    right: 0;
  }
  .menubar ul.menu-bot button {
    margin-top: -4px;
  }
  .menubar .hide-on-mini {
    display: none;
  }
  .menubar.mini-bar,
  .menubar.mini-bar ul li,
  .menubar.mini-bar ul li div.btn-ico {
    height: 75px;
  }
  .menubar.mini-bar ul li .link {
    height: 75px;
    line-height: 125px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 8pt;
    text-indent: unset;
    text-align: center;
    white-space: unset;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
  }
  .menubar.mini-bar ul.menu-bot button {
    margin-top: unset;
  }
  .menubar + div.App {
    margin-left: unset;
    padding-top: 50px;
  }
  .menubar.mini-bar + div.App {
    padding-top: 75px;
  }
}
div.App.home div.header {
  width: 100%;
  height: 100%;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: -25px;
  background: #dcdee2;
  color: #fff;
}
div.App.home div.header * {
  margin-bottom: 35px;
}
div.App.home div.header .title {
  padding-left: 50px;
}
div.App.home div.header div.overview {
  width: calc(25% - 2.5em);
  height: 202px;
  padding-top: 35px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2em;
  border-radius: 5px;
  background: #dcdee2;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 30px -15px #000;
}
div.App.home div.header div.overview h3 {
  width: calc(100% - 10px);
  height: 66px;
  line-height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  div.App.home div.header div.overview {
    height: 169px;
  }
  div.App.home div.header div.overview h3 {
    height: 33px;
    overflow: unset;
  }
}
@media (max-width: 767.98px) {
  div.App.home div.header {
    padding: unset;
    padding-top: 35px;
  }
  div.App.home div.header div.overview {
    width: calc(50% - 3em);
    margin-left: 2em;
    border-radius: 25px;
    background: #dcdee2;
  }
}
* {
  font-family: "Sarabun", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body,
div.App {
  background: #dcdee2;
}
div.App {
  min-height: 100vh;
  margin-left: 200px;
  color: #fff;
}
div.verticle-view {
  width: 100%;
}
div.verticle-view * {
  display: inline-block;
}
div.mainContainer {
  min-height: 250px;
  margin-bottom: 45px;
  padding-bottom: 15px;
  background: #fff;
  border-radius: 5px;
  color: #fff;
  /*overflow: hidden;*/
  box-shadow: 0 0 30px -15px #000;
}
div.mainContainer div.containerHeader {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
  height: 75px;
  border-radius: 5px 5px 0 0;
  text-align: left;

  color: #000;
}
div.mainContainer div.containerHeader * {
  line-height: 75px;
  padding-left: 25px;
  padding-right: 25px;
}

div.mainContainer div.row {
  color: #000;
}

div.App {
  padding-top: 25px;
}

div.App.home {
  padding-top: unset;
}

div.mainContainer > div.row {
  padding: 0 25px 25px 25px;
}

.dataTables_wrapper {
  width: 100%;
}

div.fixedAleart {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 0 30px -10px #666;
}

div.modal {
  z-index: 999999;
}

div.modal-backdrop {
  z-index: 999998;
}

.text-primary {
  color: blue;
}